@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center mt-5">
    <h1 class="display-4">Welcome to InterviewTracker</h1>
    <p class="lead">Track your job applications and interviews with ease.</p>
    <a href="/Applications" class="btn btn-primary btn-lg m-2">Applications</a>
    <a href="/Interviews" class="btn btn-outline-primary btn-lg m-2">Interviews</a>
</div>
